@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Talha - Text Card Hover Effect</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/reussir.css" />
</head>
<body>
    @Html.Partial("~/Views/Accueil/Header.cshtml")
    <!-- partial:index.partial.html -->
    <div class="position-relative">
        <div class="position-absolute top-0 start-100 translate-middle"><a asp-controller="Login" asp-action="Indexd" class="btn btn-primary">Se connecter</a></div>
        <div class="position-absolute top-0 start-50 translate-middle-x"><p><strong>Maintenant tu peut acheter des tas de chose et vendre tes propres produits</strong></p></div>
    </div>
    <br />
    <div class="canvas-wrapper">
        <a href="#" class="canvas">
            <div class="canvas_border">
                <svg>
                    <defs>
                        <linearGradient id="grad-orange"
                                        x1="0%"
                                        y1="0%"
                                        x2="100%"
                                        y2="0%">
                            <stop offset="0%"
                                  style="stop-color: rgb(253, 137, 68); stop-opacity: 1"></stop>
                            <stop offset="100%"
                                  style="stop-color: rgb(153, 75, 23); stop-opacity: 1"></stop>
                        </linearGradient>
                        <linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="#D34F48"></stop>
                            <stop offset="100%" stop-color="#772522"></stop>
                        </linearGradient>
                    </defs>
                    <rect id="rect-grad"
                          class="rect-gradient"
                          fill="none"
                          stroke="url(#grad-orange)"
                          stroke-linecap="square"
                          stroke-width="4"
                          stroke-miterlimit="30"
                          width="100%"
                          height="100%"></rect>
                </svg>
            </div>
            <div class="canvas_img-wrapper">
                <img class="canvas_img"
                     src="~/images/acheteur.jpg"
                     alt="" />
            </div>
            <div class="canvas_copy canvas_copy--left">
                <span class="canvas_copy_subtitle">acheteur</span>
                <strong class="canvas_copy_title">F</strong>
                <strong class="canvas_copy_title">A</strong>
                <strong class="canvas_copy_title">V</strong>
            </div>
        </a>

        <a href="#" class="canvas">
            <div class="canvas_border">
                <svg>
                    <defs>
                        <linearGradient id="grad-orange"
                                        x1="0%"
                                        y1="0%"
                                        x2="100%"
                                        y2="0%">
                            <stop offset="0%"
                                  style="stop-color: rgb(253, 137, 68); stop-opacity: 1"></stop>
                            <stop offset="100%"
                                  style="stop-color: rgb(153, 75, 23); stop-opacity: 1"></stop>
                        </linearGradient>
                        <linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="#D34F48"></stop>
                            <stop offset="100%" stop-color="#772522"></stop>
                        </linearGradient>
                    </defs>
                    <rect id="rect-grad"
                          class="rect-gradient"
                          fill="none"
                          stroke="url(#grad-orange)"
                          stroke-linecap="square"
                          stroke-width="4"
                          stroke-miterlimit="30"
                          width="100%"
                          height="100%"></rect>
                </svg>
            </div>
            <div class="canvas_img-wrapper">
                <img class="canvas_img"
                     src="~/images/vendeur.png"
                     alt="" />
            </div>
            <div class="canvas_copy">
                <span class="canvas_copy_subtitle">Vendeur</span>
                <strong class="canvas_copy_title">F</strong>
                <strong class="canvas_copy_title">A</strong>
                <strong class="canvas_copy_title">V</strong>
            </div>
        </a>
    </div>
    <!-- partial -->
</body>
</html>